#nav {
    
    float: left;
    border: 2px solid black;
    background-color: #CCFFFF;
    width: 20%;
    height: 570px;
   
    
}

#nav a {
    
    text-decoration: none;
    
}

#rightcol {
    
    background-color: #4ED779;
    border: 2px solid black;
    margin-left: 250px;
    height: 570px;

}

#rightcol h1 {
    
    border: 2px solid black;
    margin-right: 600px
    
}

#rightcol h2 {
    
    border: 2px solid black;
    margin-right: 765px;
    
}

img {
    
    float: right;
    
}
    
#wrapper {
    
    float: auto;
    
}
