* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 100px;
    background-color: #EEE;
}
article,
article h1 {
    background-color: white;
    border: 1px solid grey;
}
article {
    width: 700px;
    position: relative;
}
h1 {
    height: 30px;
    position: absolute;
    top: -15px;
    left: 250px;
    text-align: center;
    width: 200px;
    z-index: 999;
}
figure {
    position: relative;
    float: left;
    width: 50%;
}
figcaption {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    bottom: 5%;
    left: 20%;
}

.left {
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    color: white;
    padding: 15px;    
    
}

.right {
    
    position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
    color: white;
    padding: 15px;    
    
}
aside:hover {
    
    background-color: white;
    
}
    